#wrapper {
	margin: 8px auto 0px auto;
	width: 800px;
}

#renderer {
	background-color: #000000;
	width: 800px;
	height: 600px;
}

#controls {
	padding-top: 5px;
}

#controls input {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
}

#controls select {
	width: 100%;
}

#controls button {
	width: 100%;
}

#controls table {
	width: 100%;
}

#controls table, th, td {
	position: relative;
}

#l3d-result {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	resize: none;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
}